body.rsvp {
    background-attachment: fixed;
    background-image: url(../img/Lisa&Scott-17.jpg);
    background-size: cover;
    background-position: 100% 50%;
    color: #fff;
    height: 100vh;

    @media screen and (max-width: 900px) {
        background-attachment: scroll;
        background-color: #222;
        background-image: url(../img/rsvp-sm.jpg);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: 100% auto;
    }

    #container {
        width: 50%;
        padding: 10% 5%;

        @media screen and (max-width: 900px) {
            padding-top: calc(52vw + 1em);
            width: 100%;
        }
    }

    #copyright {
        bottom: 5%;
        right: 5%;
        position: fixed;
        text-shadow: 0 0 5px #000;

        a { color: #eee; }

        @media screen and (max-width: 900px) {
            bottom: auto;
            position: absolute;
            opacity: 0.6;
            left: 5%;
            top: calc(46vw - 1em);
        }
    }

    .error {
        background: $error;
    }

    .rsvp-for-party {
        margin: 10px 0;
    }

    label {
        cursor: pointer;
        margin-left: 10px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        appearance: none;
        border: 2px solid #fff;
        cursor: pointer;
        height: 1em;
        top: 2px;
        width: 1em;

        &:active,
        &:focus {
            outline: none;
        }

        &:checked:after {
            color: #fff;
            content: "✔";
            display: block;
            font-size: 1.4em;
            position: absolute;
            top: -0.4em;
        }
    }

    .back-button {
        float: left;
        width: 50%;
    }

    .form-error {
        left: 0;
        opacity: 0;
        position: absolute;
        text-align: center;
        transition: 0.2s opacity;
        top: 100%;
        width: 100%;

        &.active {
            opacity: 1;
        }
    }
}
